@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #43c6a6 0%, #f8ffae 100%);
    min-height: 100vh;
    padding: 2rem;
}

header, main {
    max-width: 60%;
    margin: 1.5rem auto;
}

header {
    background-color: #FFF;
    color: rgb(75, 75, 75);
    border-radius: 1.4rem;
    text-align: center;
    padding: 1.5rem;
}

header h3 {
    color: #6c6c6c;
}

main {
    padding-top: 15px;
    background-color: #fcfcfc;
    color: rgb(75, 75, 75);
    border-radius: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h5 {
    text-align: center;
}

#info-container {
    min-width: 100%;
    padding: 1.5rem;
}

#info-container .info-titles ul, #info-container .info-indice ul {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
}

#info-container .info-titles ul {
    flex-direction: row;
}

#info-container .info-titles ul li {
    list-style: none;
    min-width: 20%;
}

#info-container .info-titles ul li p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
}

#info-container .info-indice ul {
    flex-direction: column;
}

#info-container .info-indice ul li {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 5px;
    align-items: center;
}

#info-container .info-indice ul li:nth-child(1){
    border: none;
}

#info-container .info-indice ul li:nth-child(4){
    border-top: 1px solid rgb(212, 212, 212);
}

#info-container .info-indice ul li p{
    text-align: center;
    min-width: 20%;
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
}

#info-container .info-indice ul li span {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    justify-content: end;
}

#info-container .info-indice ul li span input {
    max-width: 20%;
}

#info-container .info-indice ul .Subtotal {
    justify-content: space-between;
    flex-direction: column;
    gap: .5rem 0;
}

#info-container .info-indice ul .Subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100px;
    align-items: flex-start;
    position: relative;
}

#info-container .info-indice ul .Subtotal div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#info-container .info-indice ul .Subtotal span input {
    max-width: 28%;
}

#info-container .info-indice ul .Subtotal #igualrestante {
    position: absolute;
    top: 50px;
    right: 0;
}

.finally {
    display: flex;
    flex-direction: row;
}

.info-metodo-pagamento {
    min-width: 70%;
}

.info-metodo-pagamento ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

.info-metodo-pagamento ul li {
    border-right: 1px solid rgb(212, 212, 212);
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

#total {
    min-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 2rem;
}
#confirmacao-dados {
    margin-top: 25px;
    padding: 0 15px 15px;
    display: flex;
    flex-direction: column;
}
#confirmacao-dados h5, #confirmacao-dados h3 {
    text-align: center;
}

#confirmacao-dados .table-responsive{
    border-radius: 15px;
    margin-bottom: 15px;
}
#confirmacao-dados table th {
    text-align: center;
    font-size: 1.3rem;
}

#confirmacao-dados table tbody .title {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}

.hide {
    display: none !important;
}

@media screen and (max-width: 1030px) {
    header, main {
        min-width: 80%;
    }
}

@media screen and (max-width: 850px) {
    header, main {
        min-width: 100%;
    }
}

@media screen and (max-width: 540px) {

    body {
        padding: .5rem;
    }

    main {
        padding: .5rem 0;
    }

    main h5 {
        margin: 10px;
        font-size: .9rem;
    }

    main p {
        font-size: .7rem;
        text-align: center;
    }

    main p button {
        font-size: .7rem !important;
    }

    #info-container {
        padding: .5rem;
    }

    .info-titles {
        display: none;
    }

    #info-container .info-titles ul li {
        min-width: 100%;
    }

    #info-container .info-indice ul li {
        gap: .5rem;
        flex-direction: column;
    }

    .info-metodo-pagamento ul li {
        padding: 0;
        border: 0;
    }

    #info-container .info-indice ul li span {
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    #info-container .info-indice ul li span span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 2 40%;
    }

    #info-container .info-indice ul li span span input {
        /* flex: 1 2 50%; */
        margin-bottom: 10px;
        min-width: 100%;
    }

    #info-container .info-indice ul li p {
        min-width: 100%;
    }

    .finally {
        flex-direction: column;
    }

    .finally .info-metodo-pagamento ul {
        flex-direction: column;
        margin-bottom: 30px;
        padding: 0;
    }

    #info-container .info-indice ul .Subtotal {
        flex-direction: column;
    }

    #info-container .info-indice ul .Subtotal #igualrestante {
       position: relative;
       top: 0;
    }

    #info-container .info-indice ul .Subtotal div{
        padding: 0;
    }

    #info-container .info-indice ul .Subtotal span {
        padding-right: 0;
    }

    #info-container .info-indice ul li span .btn {
        margin-top:1.2rem;
    }
}